<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Filmy</title>
</head>
<a href="/">Do Strony glownej</a>
<body>
<h1 th:text="${movie.title}"></h1>
<p th:text="|tytuł: ${movie.title}|"></p>
<p th:text="|Budzet filmu: ${movie.budget}|"></p>
<p th:text="|Dla kogo: ${movie.targetAudience}|"></p>
<p th:text="|Data premiery: ${movie.premiereDate}|"></p>
<p><a th:href="'/usun/' + ${movie.id}" th:text="|Usun film ${movie.title} z bazy|"></a></p>

<!--<a th:href="'/usun/' + ${movie.id}" th:text="${movie.title}"></a>-->

</body>
</html>